
<div class="header-container">
  <div class="app-icon"><img src="assets\images\artificial-intelligence.png"></div>
  <div class="app-header">
    FITNESS TRACKER
  </div>
</div>
<div class="topnav" id="myTopnav">
  <a routerLink="/landing-page" routerLinkActive="active">Home</a>
  <a routerLink="/place-fitness-trainer-appointment" routerLinkActive="active">Place Appointment</a>
  <a routerLink="/view-appointment" routerLinkActive="active">View Appointment</a>
  <a routerLink="/contact-us" routerLinkActive="active">Contact Us</a>
</div>
<div class="sidebar">
  <a routerLink="/landing-page" routerLinkActive="active">Home</a>
  <a routerLink="/place-fitness-trainer-appointment" routerLinkActive="active">Place Appointment</a>
  <a routerLink="/view-appointment" routerLinkActive="active">View Appointment</a>
  <a routerLink="/contact-us" routerLinkActive="active">Contact Us</a>
</div>
<div style="margin-left: 210px;"><router-outlet></router-outlet></div>
