<div style="height: 27rem; width: 100%;"  class="introtext">
        <h1>Intro text</h1>
        <h3>Walking, lifting weights, doing chores – it’s all good. Regardless of what you do, regular exercise and physical activity is the path to health and well-being. Exercise burns fat, builds muscle, lowers cholesterol, eases stress and anxiety, lets us sleep restfully. In this guide, we match resources to your exercise needs -- at every fitness level.</h3>
        <h3>Fitness training balances five elements of good health. Make sure your routine includes aerobic fitness, strength training, core exercises, balance training, and flexibility and stretching.</h3>      
</div>
<button class="apply-button" (click)="navpage()">
    Apply For Trainer
</button>
